<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/customize.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Web Security Challenge</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/customer/dashboard">Home</a></li>
        <li><a href="/customer/logout">Log out</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">

  <div class="panel panel-success congratulation">
    <div class="panel-heading">Congratulation!</div>
    <div class="panel-body">
      <p>You have logged in as Jerry without using correct password by
        <a href="https://www.owasp.org/index.php/SQL_Injection" target="_blank">SQL Injection</a>.
      </p>

      <h4>What is SQL Injection</h4>
      <p>
        A SQL injection attack consists of insertion or "injection" of a SQL query via the input data from the client to
        the application.
      </p>

      <h4>Impact</h4>
      <p>
        A successful SQL injection exploit can read sensitive data from the database, modify database data
        (Insert/Update/Delete), execute administration operations on the database (such as shutdown the DBMS), recover
        the content of a given file present on the DBMS file system and in some cases issue commands to the operating
        system. SQL injection attacks are a type of injection attack, in which SQL commands are injected into data-plane
        input in order to effect the execution of predefined SQL commands.
      </p>

      <h4>Token</h4>
      <p>
        Here's your secret token: <strong><%= session[:token_1] %></strong> and submit it to the Score Board.
      </p>
    </div>
  </div>

</div>

</body>
</html>