<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Profile</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/customize.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Web Security Challenge</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/customer/myProfile">My Profile</a></li>
        <li><a href="/customer/logout">Log out</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div class="panel panel-default" id="profile">
    <div class="panel-heading">
      <span>My Profile</span>
      <span class="text-primary"><%= locals[:message] %></span>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-2">Name: <%= locals[:name] %></div>
        <div class="col-md-2">Role: <%= locals[:role] %></div>
      </div>
      <div class="row">
        <hr/>
      </div>
      <div class="row">
        <div class="col-md-4">
          <form action="/customer/myProfile" method="post">
            <input type="submit" value="Refresh Profile" class="btn btn-info"/>
            <input type="hidden" id="uid" name="uid" value="47290"/>
          </form>
        </div>
      </div>

    </div>
  </div>

  <% if (!locals[:success].nil?) %>
      <div class="panel panel-success congratulation">
        <div class="panel-heading">Congratulation!</div>
        <div class="panel-body">
          <p>You have successfully bypass the poor access control by modify hidden uid field. For more detail, please
            see
            <a href="https://www.owasp.org/index.php/Top_10_2013-A7-Missing_Function_Level_Access_Control" target="_blank">Missing
              Function Level Access Control</a> for reference.
          </p>

          <h4>What is Missing Function Level Access Control?</h4>

          <p>
            Most web applications verify function level access rights before making that functionality visible in the
            UI. However, applications need to perform the same access control checks on the server when each function is
            accessed. If requests are not verified, attackers will be able to forge requests in order to access
            functionality without proper authorization.
          </p>

          <h4>Impact</h4>

          <p>
            Such flaws allow attackers to access unauthorized functionality. Administrative functions are key targets
            for this type of attack.
          </p>

          <h4>Token</h4>

          <p>
            Here's your secret token: <strong><%= session[:token_4] %></strong> and submit it to Score Board
          </p>
        </div>
      </div>
  <% end %>

</div>

</body>
</html>