<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/customize.css" rel="stylesheet"/>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <div class="form-search">
    <form action="/product/search" method="post" class="form-inline" role="form">

      <div class="form-group">
        <label>Search keyword:</label>
        <input type="text" value="<%= locals[:k] %>" id="k" name="k" class="form-control"/>
      </div>
      <input type="submit" value="Search" class="btn btn-primary"/>

    </form>
  </div>

  <br/>
  <hr/>

  <% if !locals[:k].nil? %>
      <div id="search-result">
        <p class="text-center text-primary">Search result: no record found.</p>
      </div>
  <% end %>
</div>

</body>
</html>