<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/customize.css" rel="stylesheet"/>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <div class="panel panel-success congratulation">
    <div class="panel-heading">Congratulation!</div>
    <div class="panel-body">
      <p>You have found XSS flaw! Please see
        <a href="https://www.owasp.org/index.php/Top_10_2013-A3-Cross-Site_Scripting_(XSS)" target="_blank">Cross-Site Script</a> for reference.</p>
      <p>
        Here's your secret token: <strong>757B5DEE77D50012</strong> and submit it
        <a href="http://10.17.7.3:9000/score" target="_blank">here</a>
      </p>
    </div>
  </div>

</div>

</body>
</html>