body {
    padding-top: 50px;
}

.congratulation, #profile {
    margin-top: 20px;
}

.form-search {
    max-width: 550px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
#k {
    width: 260px;
}
#search-result {

    margin: auto;
    margin-top: 50px;
}


#welcome-message {
    margin-top: -40px;
}
.challenge-description {
    max-width: 750px;
    margin: auto;
    margin-top: 30px;
}
#remind-submit-token {
    margin-top: 25px;
    margin-bottom: 25px;
}
